@model RwandaShop.Models.Shop

@{
    Layout = "_Layout";
}
<div class="Container">
    <h1>List of products</h1>
    <ol>
        <li>@Model.Id</li>
        <li>@Model.Name</li>
        <li>@Model.Description</li>
        <li>@Model.Type</li>
    </ol>
</div>
